<html lang="en">
<head>
    <title>Confirmation</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/scripts.js" defer></script>
</head>
<body>
    <div class="confirmation-info">
        <h2 id="confirmation-label">Confirmation</h2>
        <label for="lastname">Last Name:</label>
        <p id="lastname-confirmation"></p>
        <label for="firstname">First Name:</label>
        <p id="firstname-confirmation"></p>
        <label for="address">Address:</label>
        <p id="address-confirmation"></p>
        <label for="city">City:</label>
        <p id="city-confirmation"></p>
        <label for="state">State:</label>
        <p id="state-confirmation"></p>
        <label for="countryConf">Country:</label>
        <p id="country-confirmation"></p>
        <label for="postal">Postal:</label>
        <p id="postal-confirmation"></p>
        <label for="phonenumber">Phone Number:</label>
        <p id="phone-confirmation"></p>
        <label for="email">Email:</label>
        <p id="email-confirmation"></p>
        <label for="form-of-contact">Preferred Form of Contact:</label>
        <p id="form-of-contact-confirmation"></p>
        <label for="form">Preferred Form of Payment:</label>
        <p id="form=of-payment-confirmation"></p>
        <label for="frequency-of-donation">Frequency of Donation:</label>
        <p id="frequency-confirmation"></p>
        <label for="amount">Amount of Donation:</label>
        <p id="amount-confirmation"></p>
        <label for="comment">Comment:</label>
        <p id="comment-confirmation"></p>
    </div>
</body>
</html>